<form (ngSubmit)="Submit( f )" #f="ngForm" class="mt-2">
    <div class="row">
        <div class="col-10">
            <h3><i class="far fa-images"></i> {{ title | uppercase}} <b><small *ngIf="id==='0'" style="color: green;">CREANDO</small><small *ngIf="id!=='0'" style="color: blue;">EDITANDO</small></b></h3>
        </div>
        <hr>
    </div>
    <br>
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label>Titulo</label>
        <input type=" text " class="form-control " id="namePhotographic" [(ngModel)]="reg.namePhotographic" name="namePhotographic" autocomplete="off">
    </div>

    <div class="container mr-5 row col-lg-12 col-md-12 col-sm-12">
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
            <label for="idReasonAppointment">Tratamiento</label>
            <select name="idReasonAppointment" id="idReasonAppointment" [(ngModel)]="reg.idReasonsAppointment" [disabled]="listReasonsAppointment.length === 0" required #idReasonAppointment="ngModel" [class.is-invalid]="idReasonAppointment.invalid && idReasonAppointment.touched">
                <option *ngFor="let obj of listReasonsAppointment" [value]="obj.idReasonAppointment">
                <span>{{ obj.reasonAppointment }}</span>
                </option>
            </select>
        </div>
    </div>

    <!-- Imagenes Adejuntas -->
    <div class="container mr-5 row col-lg-12 col-md-12 col-sm-12">
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
            <label>Imagenes adjuntas</label> {{imageError}}
            <div class="custom-file fileInputProfileWrap">
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                <div class="img-space">
                    <ng-template #elseTemplate></ng-template>
                </div>
            </div>
        </div>
    </div>
    <!-- Imagenes Adejuntas -->

    <div class="container mr-5 row col-lg-12 col-md-12 col-sm-12">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <label for="description">Descripción</label>
            <textarea type="text" class="form-control " id="description" [(ngModel)]="reg.description" name="description" rows="8" autocomplete="off"></textarea>
        </div>
    </div>

    <div class="row float-right mr-5 ">
        <button type="submit " class="btn btn-success "><i class="fas fa-save "></i> Guardar</button>
        <button type="button " class="btn btn-danger ml-1 " (click)="return()"><i class="fa fa-ban " aria-hidden="true "></i> Regresar</button>
    </div>
</form>