<div class="row col-lg-12 mt-5">
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="gender">Género</label>
        <input type="text" class="form-control" id="gender" [(ngModel)]="reg.gender" name="gender" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="dateBirth">Fecha de Nacimiento</label>
        <input type="text" class="form-control" id="dateBirth" [(ngModel)]="dateBirth" name="dateBirth" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="age">Edad</label>
        <input type="text" class="form-control" id="age" [(ngModel)]="age" name="age" readonly="true">
    </div>
</div>
<div class="row col-lg-12">
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="emailPatient">E-mail</label>
        <input type="text" class="form-control" id="emailPatient" [(ngModel)]="reg.emailPatient" name="emailPatient" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="nameCity">Ciudad</label>
        <input type="text" class="form-control" id="nameCity" [(ngModel)]="reg.nameCity" name="nameCity" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="civilStatus">Estado Civil</label>
        <input type="text" class="form-control" id="civilStatus" [(ngModel)]="reg.civilStatus" name="civilStatus" readonly="true">
    </div>
</div>
<div class="row col-lg-12">
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="neighborhoodPatient">Barrio</label>
        <input type="text" class="form-control" id="neighborhoodPatient" [(ngModel)]="reg.neighborhoodPatient" name="neighborhoodPatient" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="addressPatient">Dirección</label>
        <input type="text" class="form-control" id="addressPatient" [(ngModel)]="reg.addressPatient" name="addressPatient" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="telephonePatient">Teléfono Fijo</label>
        <input type="text" class="form-control" id="telephonePatient" [(ngModel)]="reg.telephonePatient" name="telephonePatient" readonly="true">
    </div>
</div>
<div class="row col-lg-12">
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="cellphonePatient">Celular</label>
        <input type="text" class="form-control" id="cellphonePatient" [(ngModel)]="reg.cellphonePatient" name="cellphonePatient" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="occupationPatient">Ocupación</label>
        <input type="text" class="form-control" id="occupationPatient" [(ngModel)]="reg.occupationPatient" name="occupationPatient" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="inCharge">Acudiente</label>
        <input type="text" class="form-control" id="inCharge" [(ngModel)]="reg.inCharge" name="inCharge" readonly="true">
    </div>
</div>
<div class="row col-lg-12">
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="relationShipInCharge">Parentesco Acudiente</label>
        <input type="text" class="form-control" id="relationShipInCharge" [(ngModel)]="reg.relationShipInCharge" name="relationShipInCharge" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="telephoneInCharge">Teléfono Acudiente</label>
        <input type="text" class="form-control" id="telephoneInCharge" [(ngModel)]="reg.telephoneInCharge" name="telephoneInCharge" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="typeHearAbout">¿Como se entero?</label>
        <input type="text" class="form-control" id="typeHearAbout" [(ngModel)]="reg.typeHearAbout" name="typeHearAbout" readonly="true">
    </div>
</div>
<div class="row col-lg-12">
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="typePerson">Tipo de Persona</label>
        <input type="text" class="form-control" id="typePerson" [(ngModel)]="reg.typePerson" name="typePerson" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="economicLevel">Estrato</label>
        <input type="text" class="form-control" id="economicLevel" [(ngModel)]="reg.economicLevel" name="economicLevel" readonly="true">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6">
        <label for="residentialZone">Zona Residencial</label>
        <input type="text" class="form-control" id="residentialZone" [(ngModel)]="reg.residentialZone" name="residentialZone" readonly="true">
    </div>
</div>