<form (ngSubmit)="Submit( f )" #f="ngForm">
    <div class="row">
        <div class="col-10">
            <h3><i class="fas fa-file-invoice-dollar"></i> {{ title | uppercase}}</h3>
        </div>
        <div class="col-2"><button type="button" class="btn btn-primary float-right rounded" (click)="register(0)" title="Agregar registros"><i class="fa fa-plus-circle" area-hidden="true"></i></button></div>
        <hr>
    </div>
    <div class="search-form mt-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="btn-icon-prepend">
                    <button class="btn">
                        <i class="feather icon-search" (click)="buscar()"></i>
                    </button>
                </div>
            </div>
            <input type="text" class="form-control" id="search" placeholder="Buscar aqui..." (keyup)='keyupSearch($event)' autocomplete="off" [(ngModel)]="search" name="search">
        </div>
    </div>
    <br>
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <table class="table" *ngIf="regs.length > 0">
            <thead>
                <tr>
                    <th scope="col" >Acciones</th>
                    <th scope="col" >Mvto</th>
                    <th scope="col" >Fecha</th>
                    <th scope="col" >Venc.</th>
                    <th scope="col" >Cliente</th>
                    <th scope="col" >Forma de Pago</th>
                    <th scope="col" >Cancelada</th>
                    <th scope="col" >Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reg of regs; let idx = index">
                    <td>
                        <button class="btn btn-warning fa fa-eye rounded" (click)="openView(reg.idMovement)" title="Ver Documento"></button>
                        <button class="btn btn-success fa fa-pencil ml-1 rounded" [routerLink]="['/invoices', reg.idMovement]" title="Actualizar Registro"></button>
                        <button class="btn btn-danger fa fa-trash ml-1 rounded" (click)=delete(reg.idMovement,idx) title="Eliminar Registro"></button>
                    </td>
                    <td>{{reg.codeTypeMovement}}-{{reg.consecutive}}</td>
                    <td>{{reg.dateMovement | date:'dd/MM/yyyy'}}</td>
                    <td>{{reg.expireMovemente | date:'dd/MM/yyyy'}}</td>
                    <td>{{reg.fullNameCustomer}}</td>
                    <td>{{reg.descriptionTypePayment}}</td>
                    <td>
                      <span class="badge badge-success" *ngIf="reg.canceled">Cancelada</span>
                      <span class="badge badge-danger" *ngIf="!reg.canceled">Pendiente</span>
                    </td>
                    <td class="float-right">{{reg.valorTotal | currency: 'COP'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row" *ngIf="regs.length>0">
        <div class="col-2">

            <button class="btn btn-success float-left" (click)="back()">Anterior</button>
        </div>
        <div class="col-8">

        </div>
        <div class="col-2">

            <button class="btn btn-success float-right" (click)="next()">Siguiente</button>
        </div>
    </div>
</form>
