<div class="container-fluid mt-5">
    <div class="jumbotron">
        <div class="col-4" style="float: left;">
            <img src="../../../assets/images/QH_Negro.png" alt="Card image cap" width="50%">

        </div>
        <div class="col-8">
            <h1 class="display-4">Bienvenido !!!</h1>
            <p class="lead"><strong>Quality Health, siempre pensando en su bienestar pone a su disposición las siguientes opciones:</strong></p>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/images/pqrs.png" alt="Card image cap" width="">
                <div class="card-body">
                    <h5 class="card-title">P.Q.R.S</h5>
                    <p class="card-text">Peticiones, Quejas, Reclamos, Sugerencias y Felicitaciones</p>
                    <button type="button" class="btn btn-primary" (click)="pqrs()">Ir</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">

            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/images/encuestas.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Encuestas</h5>
                    <p class="card-text">Realizar encuesta de satisfacción</p>
                    <button type="button" class="btn btn-primary" (click)="encuestas()">Ir</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">

            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/images/registro-paciente.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Registro paciente</h5>
                    <p class="card-text">Registro de pacientes e información general</p>
                    <button type="button" class="btn btn-primary" (click)="registerPatient()">Ir</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success btn-block" (click)="salir()">Salir</button>
        </div>
    </div>
    <br>
</div>