<form (ngSubmit)="Submit( f )" #f="ngForm" class="mt-2">
    <div class="row">
        <div class="col-6">
            <h3><i class="far fa-images"></i> {{ title | uppercase}}</h3>
        </div>
        <div class="col-6"><button type="button" class="btn btn-primary float-right rounded" (click)="register(0)" title="Agregar registros"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Evolución Fotográfica</button></div>
        <hr>
    </div>
    <div class="search-form mt-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="btn-icon-prepend">
                    <button class="btn">
                    <i class="feather icon-search" (click)="search()"></i>
                </button>
                </div>
            </div>
            <input type="text" class="form-control" id="searchText" placeholder="Buscar aquí..." (keyup)='keyupSearch($event)' autocomplete="off" [(ngModel)]="searchText" name="searchText">
        </div>
    </div>

    <br>
    <table class="table" *ngIf="regs.length > 0">
        <thead>
            <tr>
                <th scope="col" width="25%">Nombre</th>
                <th scope="col" width="25%">Fecha</th>
                <th scope="col" width="25%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of regs; let idx = index">
                <td>{{reg.namePhotographic }}</td>
                <td>{{reg.dateRegistration | date}}</td>
                <td>
                    <a href="{{reg.image}}" target='_blank' class="btn btn-info" role="button">
                        <i class="far fa-eye"></i>
                    </a>
                    <button class="btn btn-danger fa fa-trash ml-1 rounded" (click)=delete(reg.idPhotographicEvolution,idx) title="Eliminar Registro"></button>
                </td>
            </tr>
        </tbody>
    </table>
</form>