<form (ngSubmit)="Submit( f )" #f="ngForm">
    <div class="row">
        <div class="col-10">
            <h3><i class="fas fa-tags"></i> {{ title | uppercase}}</h3>
        </div>
        <div class="col-2"><button type="button" class="btn btn-primary float-right rounded" (click)="register(0)" title="Agregar registros"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></div>
        <hr>
    </div>
    <div class="search-form mt-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="btn-icon-prepend">
                    <button class="btn">
                    <i class="feather icon-search" (click)="search()"></i>
                </button>
                </div>
            </div>
            <input type="text" class="form-control" id="searchText" placeholder="Buscar aquí..." (keyup)='keyupSearch($event)' autocomplete="off" [(ngModel)]="searchText" name="searchText">
        </div>
    </div>

    <br>
    <table class="table" *ngIf="regs.length > 0">
        <thead>
            <tr>
                <th scope="col" width="10%">Acciones</th>
                <th scope="col" width="40%">Producto</th>
                <th scope="col" width="30%">Tipo Lista de Precios</th>
                <th scope="col" width="20%">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of regs; let idx = index">
                <td>
                    <button class="btn btn-success fa fa-pencil rounded" [routerLink]="['/list-price',reg.idListPrice]" title="Actualizar Registro"></button>
                    <button class="btn btn-danger fa fa-trash ml-1 rounded" (click)=delete(reg.idListPrice,idx) title="Eliminar Registro"></button>
                </td>
                <td>{{reg.descriptionProduct}}</td>
                <td>{{reg.typePriceList}}</td>
                <td>{{reg.value | currency: 'COP'}}</td>
            </tr>
        </tbody>
    </table>
</form>