<form (ngSubmit)="Submit( f )" #f="ngForm">
    <div class="row">
        <div class="col-10">

            <h3><i class="fas fa-city"></i> {{ title | uppercase}} <b><small *ngIf="id==='0'" style="color: green;">CREANDO</small><small *ngIf="id!=='0'" style="color: blue;">EDITANDO</small></b></h3>
        </div>
        <hr>
    </div>
    <br>
    <div class="container mr-5 row">
        <div class="form-group col-3">
            <label for="codeProfile">Código</label>
            <input type=" text " class="form-control " id="codeProfile" [(ngModel)]="reg.codeProfile" name="codeProfile" autocomplete="off" required>
            <span *ngIf="f.submitted && f.controls['codeProfile'].errors" class="text-danger">* Obligatorio</span>
        </div>
        <div class="form-group col-9">
            <label for="nameProfile">Nombre</label>
            <input type=" text " class="form-control " id="nameProfile" [(ngModel)]="reg.nameProfile" name="nameProfile" autocomplete="off" required>
            <span *ngIf="f.submitted && f.controls['nameProfile'].errors" class="text-danger">* Obligatorio</span>
        </div>
    </div>
    <div class="row float-right mr-5 ">
        <button type="submit " class="btn btn-success "><i class="fas fa-save "></i> Guardar</button>
        <button type="button " class="btn btn-danger ml-1 " [routerLink]="['/profiles']"><i class="fa fa-ban " aria-hidden="true "></i> Regresar</button>
    </div>
</form>
<br>
<br>
<div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" *ngIf="reg.idProfile > 0">
    <form (ngSubmit)="SubmitProfileOptions( g )" #g="ngForm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="10%">Opcion</th>
                    <th scope="col" width="10%">Acceso</th>
                    <th scope="col" width="10%">Nuevo</th>
                    <th scope="col" width="10%">Editar</th>
                    <th scope="col" width="10%">Eliminar</th>
                    <th scope="col" width="10%">Exportar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reg of regs; let idx = index">
                    <td>{{reg.nameOption}}</td>
                    <td>
                        <mat-checkbox [(ngModel)]="reg.access" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="reg.addReg" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="reg.edit" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="reg.deleteReg" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [(ngModel)]="reg.exportReg" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="row float-right mr-5 ">
            <button type="submit " class="btn btn-primary "><i class="fas fa-save "></i> Guardar</button>
            <!-- <button type="button " class="btn btn-danger ml-1 " [routerLink]="['/profiles']"><i class="fa fa-ban " aria-hidden="true "></i> Regresar</button> -->
        </div>
    </form>
</div>
