<div id="htmlData">
  <div class="header">
    <img src="..\..\..\assets\images\QH.png" alt="" class="logo">
    <div class="div-slogan">
      <p class="slogan">
        Dr. Gloria Bustamante<br>
        Reinventamos tu belleza interior
      </p>
    </div>
  </div>
  <div class="name">
    <span class="text">Nombre: </span> FABIAN MAURICIO CASTRILLON FRANCO
    <span class="date">Fecha: </span> 08/06/2022 10:40 am
  </div>
  <div class="recipe">

    DIGESTAR FORTE CPS

    TOMAR 1 CPS ENTRE 3A 5 PM TODOS LOS DIAS

    # 2 CAJAS
  </div>
  <div class="signature">
    <img src="">
  </div>
  <div class="footer">
    texto footer
  </div>
  <p>recipe-patient-print works!</p>
  id: {{ id }} <br>
  idParent: {{ idParent }} <br>
</div>

<div class="row float-right mr-5 ">
  <button type="button" class="btn btn-success" (click)="exportPDF()"><i class="fas fa-save"></i> Guardar PDF</button>
  <button type="button" class="btn btn-danger ml-1" (click)="return()"><i class="fa fa-ban " aria-hidden="true "></i> Regresar</button>
</div>

