<form (ngSubmit)="Submit( f )" #f="ngForm">
    <div class="row">
        <div class="col-10">
            <h3><i class="fas fa-question-circle"></i> {{ title | uppercase}}</h3>
        </div>
        <div class="col-2"><button type="button" class="btn btn-primary float-right rounded" (click)="register(0)" title="Agregar registros"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></div>
        <hr>
    </div>
    <div class="search-form mt-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="btn-icon-prepend">
                    <button class="btn">
                    <i class="feather icon-search" (click)="search()"></i>
                </button>
                </div>
            </div>
            <input type="text" class="form-control" id="searchText" placeholder="Buscar aquí..." (keyup)='keyupSearch($event)' autocomplete="off" [(ngModel)]="searchText" name="searchText">
        </div>
    </div>

    <br>
    <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="regs.length > 0">
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Fecha</th>
                <th>Contacto</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of regs; let idx = index">
                <td>
                    <button class="btn btn-success fa fa-pencil rounded" [routerLink]="['/pqrs',reg.idPqr]" title="Actualizar Registro"></button>
                    <button class="btn btn-danger fa fa-trash ml-1 rounded" (click)=delete(reg.idPqr,idx) title="Eliminar Registro"></button>
                </td>
                <td>{{reg.dateTimePQR | date: 'medium':'-0500'}}</td>
                <td>{{reg.contactPqr}}</td>
                <td>{{reg.emailPqr}}</td>
                <td>{{reg.cellPhonePqr}}</td>
                <td>{{typePqrName(reg.typePqr)}}</td>
            </tr>
        </tbody>
    </table>

</form>