<div class="row">
    <div class="col-10">
        <!-- <h3><i class="fas fa-user-friends"></i> {{ title | uppercase}} <b><small *ngIf="id==='0'" style="color: green;">CREANDO</small><small *ngIf="id!=='0'" style="color: blue;">EDITANDO</small></b></h3> -->
        <label><h2 style="color: darkblue;"><i class="fas fa-chart-pie"></i> {{ title | uppercase }}</h2></label>
        <label><h3> {{' - ' + subTitle | uppercase }}</h3></label>
    </div>
    <hr>
</div>

<div class="container mr-5 row col-lg-12 col-md-12 col-sm-12 mt-1">

    <div class="col-4 text-white">
        <mat-card class="medicine-card-1">
            <mat-card-header>
                <div class="small-box-icon"><i class="fas fa-stethoscope"></i></div>
                <mat-card-title class="text-white">{{citasAtt}}</mat-card-title>
                <mat-card-subtitle class="text-white">Pacientes Atendidos En El Último Mes</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-actions>
                <a href="" class="small-box-footer"> Mas Información <i class="fa fa-arrow-circle-right"></i></a>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-4 text-white">
        <mat-card class="medicine-card-1">
            <mat-card-header>
                <div class="small-box-icon"><i class="fas fa-stethoscope"></i></div>
                <mat-card-title class="text-white">{{citasAtt}}</mat-card-title>
                <mat-card-subtitle class="text-white">Pacientes Atendidos En El Último Mes</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-actions>
                <a href="" class="small-box-footer"> Mas Información <i class="fa fa-arrow-circle-right"></i></a>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-4 text-white">
        <mat-card class="medicine-card-1">
            <mat-card-header>
                <div class="small-box-icon"><i class="fas fa-stethoscope"></i></div>
                <mat-card-title class="text-white">{{citasAtt}}</mat-card-title>
                <mat-card-subtitle class="text-white">Pacientes Atendidos En El Último Mes</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-actions>
                <a href="" class="small-box-footer"> Mas Información <i class="fa fa-arrow-circle-right"></i></a>
            </mat-card-actions>
        </mat-card>
    </div>

</div>

<div class="row mt-5">
    <div class="col-10">
        <label><h3> {{subTitleOverdure | uppercase }}</h3></label>
    </div>
    <hr>
</div>

<div class="container mr-5 row col-lg-12 col-md-12 col-sm-12 mt-3">
    <br>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Tratamiento</th>
                <th>Estado cita</th>
                <th>Días</th>
                <th>Rango</th>
                <th>Observación</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of regsOverdure; let idx = index">
                <td>
                    <button class="btn btn-success fa fa-pencil rounded" [routerLink]="['/patient',reg.idPatient]" title="Actualizar Registro"></button>
                    <!-- <button class="btn btn-danger fa fa-trash ml-1 rounded" (click)=delete(reg.idPatient,idx) title="Eliminar Registro"></button> -->
                </td>
                <td>{{reg.documentPatient}}</td>
                <td>{{reg.fullName}}</td>
                <td>{{reg.telephonePatient}}</td>
                <td>{{reg.emailPatient}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row mt-5">
    <div class="col-10">
        <label><h3> {{subTitlesSchedule | uppercase }}</h3></label>
    </div>
    <hr>
</div>

<div class="container mr-5 row col-lg-12 col-md-12 col-sm-12 mt-3">
    <br>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Tratamiento</th>
                <th>Estado cita</th>
                <th>Días</th>
                <th>Rango</th>
                <th>Observación</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of regsSchedule; let idx = index">
                <td>
                    <button class="btn btn-success fa fa-pencil rounded" [routerLink]="['/patient',reg.idPatient]" title="Actualizar Registro"></button>
                    <!-- <button class="btn btn-danger fa fa-trash ml-1 rounded" (click)=delete(reg.idPatient,idx) title="Eliminar Registro"></button> -->
                </td>
                <td>{{reg.documentPatient}}</td>
                <td>{{reg.fullName}}</td>
                <td>{{reg.telephonePatient}}</td>
                <td>{{reg.emailPatient}}</td>
            </tr>
        </tbody>
    </table>
</div>